<div class="bg-white">
  <h3> {{date}} </h3>

  <p>Välkommen till din Todo-lista!</p>
  <p>Du har just nu {{count}} todos.</p>

  <div class="home">

    <h2>Vad ska du göra idag?</h2>

    <div class="home-button">

      <button type="button">
        <a href="/todos/ny">Skapa ny todo</a>
      </button>
      <button type="button">
        <a href="/todos">Kika på dina todos</a>
      </button>
    </div>
  </div>
</div>